<%= form_for [@artist, @project, @album, @track] do |f| %>
<section class="section white">
<div class="container">
<h2>New Tracks</h2>      
           <div class="row">
             <div class="input-field col s12">
            <%= f.text_field :name, :class => "validate", :type => "text" %>
             <label for="name">Track Name</label>
            </div>
            </div>
            <div class="row">
             <div class="file-field input-field">
                 <div class="btn grey darken-2">
                 <span>Track Upload</span>
                <%= f.file_field :songs, :multiple => true %>
                </div> 
                <p>
                  <%= f.check_box :remove_songs, :id => "remove_track_media" %>
                  <label for="remove_track_media">
                   Remove Track
                   </label>
                 </p>
               </div>
             </div>
            <div class="card-action">
              <%= f.submit 'Submit', :class => "btn btn-waves red darken-2" %>
            </div>
          </div>
      
        </div>
      </div>
      <% end %>
</div>
</section>


