 <%= form_for [@project, @album] do |f| %>
<div class="section grey lighten-3">
<div class="container">
<h2>Edit Album</h2>
        <div class="col s12 m12">
          <div class="card">
            <div class="card-content">
           <div class="row">
             <div class="col s12 m6">
              
             <%= image_tag(@album.cover_art_url, :class => "responsive-img") if @album.cover_art? %>

             </div>
             </div>
             <div class="row">
            
              <div class="file-field col s12 m6">
                 <div class="btn red accent-2">
                 <span>Album Cover</span>
                <%= f.file_field :cover_art %>
                 </div>
               </div>
                 </div>
        <div class="row">
               <div class="input-field col s12 m6"> 
             <label>Release Date</label>
              <%= f.date_field :release_date, :type=> "date", :class => "datepicker" %>
              </div>
           </div>
           <div class="row">
             <div class="input-field col s12">
                 <label for="title">Title</label>
            <%= f.text_field :title, :class => "validate", :type => "text" %>
            <%= f.hidden_field :project_id %>
            </div>
            </div>
        
            <div class="row">
            <div style="padding-top: 25px;" class="input-field col s12">
           <p>
            <%= f.text_field :genre_list, value: @album.genre_list.to_s %>
            <%= f.label :genre_list, "Genres (separated by commas)", :style => "top: 2.8rem;" %>
            </p>
          </div>
          </div>


            <div class="card-action">
             
              <%= form_tag @albums, method: :put do %>
             <%= submit_tag "Update Album", id: "update_album", class: "btn red" %>
            <% end %>

              <td><%= link_to 'Destroy Album', project_album_path(), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn black" %></td>
            </div>
          
       </div>
       </div>
      </div>
    </div>
 </div>

 <% end %>

