
<div class="section white artwork">
<div class="row">

    <div class="col s12 m12 l10">
      <div class="card-panel grey lighten-5">
        <% @albums.each_slice(2) do |slice| %> 
        <div class="row">
          <% slice.each do |g| %>
 <div class="col s12 m4">
	   <div class="card large">
        <div class="card-image waves-effect waves-block waves-light">
       <%= link_to (image_tag (g.cover_art.thumb.url), class: 'activator'), artist_project_album_path(@artist.friendly_id, @project.friendly_id ,g.id) %>

        </div>
        <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"> <%= g.title.titleize %></span>
         <div class="card-action">
        <a href="/artists/<%= @artist.friendly_id %>/projects/<%= @project.friendly_id %>/albums/<%= @album.id %>">Tracks</a>
      
        </div>
        </div>
       </div>
      </div>
         <% end %>
         </div>
         <% end %>
         <div class="center-align">
  
        </div>
    </div>
    </div>


  <div class="col s12 m12 l2">
     
        <h5 style="font-family: Roboto Slab, serif;">Genres</h5>
         
</div>
