 <div class="parallax-container">
    <div class="parallax"><img class="project-header" src="<%= @project.cover_photo_url %>"></div>
 </div>


 <div class="container albums white">
  <div class="row">
  <div class="col s12 m3 l3">
  <img class="responsive-img materialboxed" src="<%= @album.cover_art_url(:thumb) %>">
  </div>
    <div class="col s12 m9 l9">
    <div class="show-album-header">

    <div class="fixed-action-btn for-album-play horizontal click-to-toggle play">
     <a class="play_album_as_list btn-floating btn-large waves-effect waves-light right"><i class="material-icons white-text">play_arrow</i></a>
   </div>
   
    <div class="fixed-action-btn for-album horizontal click-to-toggle share">
     <a class="btn-floating btn-large waves-effect waves-light blue-grey lighten-5 right share-project-show"><i class="material-icons black-text">share</i></a>
      <ul>
    <li><%= social_share_button_tag(@project.title, :popup => "true") %></li>
    </ul>
   </div>

   

 	<span><h4 class="album-title"><%= @album.title %></h4> 
  <a href="/music/projects/<%= @project.friendly_id %>" class="flow-text black-text">
  <%= @project.title %></a><br>
  <a href="#" class="card-date">
  <%= @album.release_date.strftime("%Y") %>
  </a> 
  &#8226; 
  <a href="#" class="card-date"> <%= pluralize(@album.tracks.count, 'Song') %></a> &#8226; 
    <% total_duration = @tracks.sum(:duration) %>
   <a href="#" class="card-date"><%= Time.at(total_duration).utc.strftime("%M:%S") %> </a>
  &#8226; 
   <a href="#" class="card-date">
  <%= @album.genre_list.to_s.titleize %></a> 
  </span>
    <span class="right">
      <a class='dropdown-button btn-large btn-floating circle transparent more' data-activates='dropdown2'><i class="material-icons black-text large">&#xE5D4;</i></a>
          </span>
</div>
</div>
</div>

<% if @tracks.empty?  %>
 <h5 id="no-media">No Media Found</h5>
<% else %>
  <table class="highlight edit-tracks-index">
      <thead>
          <tr >
              <th data-field="id" style="padding-left: 1rem;">#</th>
              <th data-field="name">Title</th>
              <th data-field="duration"><i class="material-icons">timer</i></th>
          </tr>
        </thead>
 
           <tbody id="media-contents">
          <% @tracks.each.with_index(1) do |media, index| %>
          
          <tr data-item-id=<%= "#{media.id}" %> class="item">
      
            <td style="padding-left: 1rem;"><%= index %></td>
            <td class="play_track"><p class="flow-text"><%= media.title %></p></td>
            <% t = media.duration %>
            <td><%= Time.at(t).utc.strftime("%M:%S") %> </td>
           </tr>     
         
               <% end %>
                
                 </tbody>
                </table>
<% end %>

  <ul id="dropdown2" class="dropdown-content">
  <% %>
  <li><a href="/music/projects/<%= @project.friendly_id %>">Go to Artist</a></li>
</ul>
 	</div>
 	</div>
 	</div>
</div>


 	<script type="text/javascript">
  $(document).ready(function(){
    $('.materialboxed').materialbox();
  });
  $('.parallax').parallax();
  </script>
<script type="text/javascript">
   $('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrain_width: false, // Does not change width of dropdown to that of the activator
      hover: false, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: true, // Displays dropdown below the button
      alignment: 'left' // Displays dropdown with edge aligned to the left of button
    }
  );
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $("a.play_album_as_list").on('click',function(e){
        <% unless @tracks.nil? %>
        <% @tracks.reverse_each do |a| %>
        $(".sm2-playlist-bd").prepend('<li><%= link_to File.basename("#{a.title}"), "/uploads/songs/#{a.id}/#{File.basename(a.file_name.mp3.url)}", 'data-skip-pjax' => true %></li>'),
        <% end %>
                 window.sm2BarPlayers[0].actions.play(0);
        <% end %>
    });
});
</script>

<!--   <script type="text/javascript">
  $(document).ready(function(){
    $("td.play_track").on('click',function(e){
        <% unless @tracks.nil? %>
        <% @tracks.reverse.each_with_index.map do |a, index| %>
        $(".sm2-playlist-bd").prepend('<li><%= link_to File.basename("#{a.title}"), "/uploads/songs/#{a.id}/#{File.basename(a.file_name.mp3.url)}", 'data-skip-pjax' => true, "data-item-id" => "#{a.id}" %></li>'),
      
                 window.sm2BarPlayers[0].actions.play(<%= index %>);
        <% end %>
        <% end %>
    });
});
</script> 
 -->
