<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Owlphabet</title>
  <meta name="description" content="Athens, GA Based Music Collection"/>
  <meta name="keywords" content="Asheville NC, West Asheville, athens ga, music label, records music albums"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <%= stylesheet_link_tag    'application', media: 'all' %>
 <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png" />
  <%= javascript_include_tag 'manager' %>
  <%= csrf_meta_tags %>
</head>
<body class="grey lighten-3">
<header>
<div id="top" class="navbar-fixed">
<nav>
    <div class="nav-wrapper white">

        <a href="/" class="brand-logo black-text">OWLPHABET</a>
        <a href="#" data-activates="mobile-nav" class="button-collapse black-text"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
        <li><a class="black-text" href="<%= projects_path %>"><i class="material-icons">dashboard</i></a></li>
         <li><a class="black-text" href="<%= projects_path %>"><i class="material-icons">library_music</i></a></li>
         <li><a class="dropdown-button black-text" href='#' data-activates='dropdown1'><i class="material-icons">account_circle</i></a></li>
      </ul>
    <ul id='dropdown1' class='dropdown-content'>
     <li><a href="<%= edit_artist_registration_path %>">Edit Account</a></li>
     <hr>
    <li class="drop-btn-effects"><%= link_to "Sign out", destroy_artist_session_path, :method => :delete, 'data-skip-pjax' => true, :class => 'white-text btn nav-signout' %></li> 
   
  </ul>
     <ul class="side-nav" id="mobile-nav">
         <li><a class="black-text" href="<%= projects_path %>">Projects</a></li>
      </ul>
    </div>
  </nav>
  </div>
  </header>
<% flash.each do |key, value| %>
        <div style="text-align: center;" class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
<div data-pjax-container>
<main role="main">
<%= yield %>
</main>
</div>

 <div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="material-icons">library_add</i>
    </a>
    <ul>
<!--       <li><a class="btn-floating red darken-4"><i class="material-icons">music_note</i></a></li>
      <li><a class="btn-floating black" href="<%= projects_path %>"><i class="material-icons">album</i></a></li> -->
      <li><a class="btn-floating teal" href="<%= new_project_path %>"><i class="material-icons">folder</i></a></li>
    </ul>
  </div>

<script type="text/javascript">

$( document ).ready(function() {
 $('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrain_width: false, // Does not change width of dropdown to that of the activator
      hover: false, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: true, // Displays dropdown below the button
      alignment: 'left' // Displays dropdown with edge aligned to the left of button
    }
  );
});
  </script>

</body>
</html>
