<!DOCTYPE html>
<html>
<head>
  <title>Owlphabet</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
 <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="white">
<header>
<div id="top" class="navbar-fixed">
<nav>
    <div class="nav-wrapper white">
        <a href="#" data-activates="mobile-nav" class="button-collapse black-text"><i class="material-icons">menu</i></a>
         <ul class="right hide-on-med-and-down">
      <!--  <a class="waves-effect waves-light btn" href="/invite/request">Request Invite</a> -->      
      <li> <a class="waves-effect waves-light btn" href="/music">Music</a></li>

      </ul>



     <ul class="side-nav" id="mobile-nav">
         <li><a class="black-text" href="/music">Music</a></li>
      </ul>
    </div>
  </nav>
  </div>
  </header>
<% flash.each do |key, value| %>
        <div style="text-align: center;" class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
<main role="main">
<%= yield %>
</main>

</body>
</html>
