<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
  <title>Owlphabet</title>
  <meta name="description" content="Owlphabet is a music streaming service for independent artists"/>
  <meta name="keywords" content="Asheville NC, West Asheville, athens ga, music label, records music albums"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <%= stylesheet_link_tag    'application', media: 'all' %>
 <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="grey lighten-3">
<header>
<div id="top" class="navbar-fixed">
<nav>
    <div class="nav-wrapper white">
        <a href="/" class="brand-logo black-text">OWLPHABET</a>
        <a href="#" data-activates="mobile-nav" class="button-collapse black-text"><i class="material-icons">menu</i></a>
         <ul class="right hide-on-med-and-down">
       <!-- <a class="waves-effect waves-light btn" href="/invite/request">Request Invite</a>       -->
      </ul>
     <ul class="side-nav" id="mobile-nav">
         <!-- <li><a class="black-text" href="/invite/request">Request Invite</a></li> -->
      </ul>
    </div>
  </nav>
  </div>
  </header>
<% flash.each do |key, value| %>
        <div style="text-align: center;" class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
<main role="main">
<%= yield %>
</main>

</body>
</html>
