<!DOCTYPE html>
<html>
<head>
  <title>Owlphabet Manager</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
 <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="blue-grey darken-4">
<header>
<div id="top" class="navbar-fixed">
<nav>
    <div class="nav-wrapper white">

        <a href="/" class="brand-logo black-text">OWLPHABET</a>
        <a href="#" data-activates="mobile-nav" class="button-collapse black-text"><i class="material-icons">menu</i></a>
         <ul class="right hide-on-med-and-down">
           <li><a class="black-text" href="/projects">Projects</a></li>
        <li><a class="black-text" href="/artsits/">Settings</a></li>
        <li><%= link_to "Sign out", destroy_artist_session_path, :method => :delete, :class => 'black-text' %></li>           
      </ul>
     <ul class="side-nav" id="mobile-nav">
         <li><a class="black-text" href="/projects">Projects</a></li>
      </ul>
    </div>
  </nav>
  </div>
  </header>
<% flash.each do |key, value| %>
        <div style="text-align: center;" class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
<main role="main">
<%= yield %>
</main>

</body>
</html>
